@page
@model RazorPagesDemo.Pages.Accounts.RegisterModel
@{
}

<form method="post">
    <input asp-for="Input.Name"/>
    <input asp-for="Input.Age"/>
    <button type ="submit">Add Person</button>
</form>