@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Class26Demo.Models.Person
<label>
        <span>Name</span>
    <input asp-for="@Model.Name"/>
    </label>

    <label>

        <span>Job</span>
    <input asp-for="@Model.Job"/>
        </label>