@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UploadingDemo.Models.Document

<h1>Upload Demo</h1>

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
  <input asp-for="@Model.PNmae" name="name"/>
  <input asp-for="@Model.Price" name="price" type="number"/>
  <div><input type="file" name="file" /></div>
  <button>Upload</button>
</form>

@if (@Model != null)
{
    <img src="@Model.Url" width=200/>
<p>@Model.PNmae</p>
}

